### gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.settings/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
rebel.xml

### NetBeans ###
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/

### maven ###
target/
*.war
*.ear
*.zip
*.tar.gz

### vscode ###
.vscode

### logs ###
/logs/
/logpath_IS_UNDEFINED/
logpath_IS_UNDEFINED
*.log

### temp ignore ###
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~

### system ignore ###
.DS_Store
Thumbs.db
Servers
.metadata
output
docker/data
docker/redis/redis.pid
docker/redis/dump.rdb

### other ###
*_tmp/
.history/